# Create a copy of this file in this directory
# Give it a name docker-compose.local.yaml
# It will be ignored by .gitignore

# To use Google sheets go to google console, create new project
# enable sheets API, copy and paste your credentials in Google__Credentials variable.
# Then create desired sheet and page named "Suggestions"
# Also set:
#   Settings__IsGoogleEnabled=true
#   Sheets__SheetId=<Your sheet id>

# In base docker-compose file specified default cosmosdb emulator connection string.
# You can replace it with real connection to your Azure CosmosDb instance.
# In this case specify Settings__IsDocker=false as this config used to determine how to connect to database
# You MUST create database with id 'eclipse' and container named 'Aggregates' manually. 
# Automatic database and container creation is configured ONLY for emulator instance.

# Specify your own telegram bot token (create one using botfather telegram bot)
# Specify your telegram id to obtain access to admin menu
# Download ngrok and paste your token as NGROK_AUTHTOKEN for ngrok service.

# Now you can run .\build.ps1 command to up this project.

services:
  backend:
    environment:
      - Telegram__Token=<your bot token>
      - Telegram__Chat=<your telegram chat id>
      - Application__Chat=<your telegram chat id>
      - 'Google__Credentials=<json file>'
      - Sheets__SheetId=<your sheet id>
      - Settings__IsGoogleEnabled=false

  ngrok:
    environment:
      NGROK_AUTHTOKEN: <your-token>
